body,p,span{

font-family:'Roboto',sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
font-family: 'Rubik',sans-serif;
}

.universal{
    background-image: url(regi.jpg);
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.p-info{
    text-align: center;
    display: orange;
    background-color: cornsilk;
    padding: 20px 0;
    margin-top:-6px;
}
.regform{
    width: 400px;
    height: 570px;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(100, 155, 155);
    box-shadow:7px 7px 35px -4px rgba(0,0,0,0.75);


}
.nm{
    display: block;
    margin-bottom: 9px;
}
.log{
    margin-left: 100px;
    display: block;
    margin-top: 15px;
    font-size: 15px;
}
.submitbtn{
    margin-left: 40px;
    margin-top: 10px;
    display: block;
}
.btn-primary{
    padding: 7px 100px;
    transition: .4s;
    background-color: burlywood;
}
.btn-primary:hover
{
    background-color: black;
    color:white;
    border-color: black;
}

.webname
{
    text-align: center;
    color: black;
    padding: 24px 0;
    background-color: antiquewhite;
}
.webname h2
{
    margin: 0;
}
.webname h3
{
    margin: 0;
}
.update{
    margin-left:80px;
    margin-top: 20px;
    display: block;
}
.btn-update{
    padding: 7px 100px;
    transition: .4s;
    background-color: burlywood;
}
.btn-update:hover
{
    background-color: black;
    color:white;
    border-color: black;
}

